<div class="deposit-container">
  <mat-card>
    <mat-card-title>Depositar Dinero</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onDeposit()">
        <mat-form-field appearance="outline">
          <mat-label>Monto a depositar</mat-label>
          <input matInput type="number" placeholder="Ej: 1000" [(ngModel)]="amountToDeposit" name="amount">
        </mat-form-field>

        <div class="action-buttons">
          <button mat-flat-button color="warn" routerLink="/menu">Cancelar</button>
          <button mat-raised-button color="primary" type="submit">Confirmar Depósito</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
